/*img {*/
/*    width: 500px*/
/*}*/

/*.JS_color, .HTML_color {*/
/*    color: red;*/
/*    font-size: 25px;*/
/*    border: 1px solid blue*/
/*}*/

/*hr {*/
/*    border-color: lawngreen;*/
/*}*/

/*.homework {*/
/*    color: red;*/
/*    font-size: 32px;*/
/*    text-align: center;*/
/*}*/
/*.formForRegistration {*/
/*    border: 1px solid cornflowerblue;*/
/*    background-color: bisque;*/
/*    width: 230px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*.inputLes9_red {*/
/*color: red*/
/*}*/

/*.inputLes9_green {*/
/*    color: green*/
/*}*/

/*.buttonStyle {*/
/*    background-color: yellow;*/
/*    border: 1px solid red;*/
/*    padding: 10px;*/
/*    transform: rotate(45deg);*/

/*}*/

/*.error-input {*/
/*    border-color: red;*/
/*}*/
/* ___________________________homewoerk 10-3____________________________ */
/* .inputclass {
    border: 1px solid red
} */
/* .divdiv {
    width: 200px;
    border: 1px solid black;
  
}
 
.divdivone {
  width: 0px;
transition-duration: 4s;
} */

/* .divdiv {
    display: none;
} */

/* .hey {
    width: 100px;
} */




.jskmd-calculator {
    width:500px;
   margin: 0 auto;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
    border: 1px solid black;

}
.operartion-block {}

.jskmd-calculator .operartion-block button {
    height: 40px;
    width: 40px;
    margin: 20px;

}

.input-block label {
    display: block;
}

.input-block {

}

.error {
    border: red 1px solid
}

.hidden {
    display: none
}

.visible {
    display:block;
    border: red 1px solid
}