img {
    width: 500px
}

.JS_color, .HTML_color {
    color: red;
    font-size: 25px;
    border: 1px solid blue
}

hr {
    border-color: lawngreen;
}

.homework {
    color: red;
    font-size: 32px;
    text-align: center;
}
.formForRegistration {
    border: 1px solid cornflowerblue;
    background-color: bisque;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.inputLes9_red {
color: red
}

.inputLes9_green {
    color: green
}

.buttonStyle {
    background-color: yellow;
    border: 1px solid red;
    padding: 10px;
    transform: rotate(45deg);

}

.error-input {
    border-color: red;
}